@model OlarkChatConfigurationModel

@{
	Layout = "_ConfigurePlugin";

	const string hideBasicBlockAttributeName = "OlarkChatPage.HideBasicBlock";
	var customer = await workContext.GetCurrentCustomerAsync();
	var hideBasicBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideBasicBlockAttributeName);

	const string hideAdvancedBlockAttributeName = "OlarkChatPage.HideAdvancedBlock";
	var hideAdvancedBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideAdvancedBlockAttributeName, defaultValue: true);
}

<form asp-controller="OlarkChat" asp-action="OlarkChatConfigure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="float-left">
                            @await Component.InvokeAsync(typeof(SettingModeViewComponent), new { modeName = "olarkchat-advanced-mode" })
                        </div>
                    </div>
                </div>

                <nop-cards id="olarkchat-cards">
                    <nop-card asp-name="olarkchat-basic" asp-icon="fas fa-cog" asp-title="@T("Plugins.Widgets.OlarkChat.Basic")"
                              asp-hide-block-attribute-name="@hideBasicBlockAttributeName" asp-hide="@hideBasicBlock" asp-advanced="false">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SiteId" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SiteId" />
                                <span asp-validation-for="SiteId"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="WidgetPosition" />
                            </div>
                            <div class="col-md-9 d-flex align-items-center">
                                <div class="form-check me-5">
                                    <input class="form-check-input" type="radio" name="WidgetPosition" id="widgetPositionLeft" value="Left"
                                           @(Model.WidgetPosition == "Left" ? "checked" : "") />
                                    <label class="form-check-label" for="widgetPositionLeft">
                                        Left
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="WidgetPosition" id="widgetPositionRight" value="Right"
                                           @(Model.WidgetPosition == "Right" ? "checked" : "") />
                                    <label class="form-check-label" for="widgetPositionRight">
                                        Right
                                    </label>
                                </div>
                                <span asp-validation-for="WidgetPosition" class="ms-3 text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="EnableMobile" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableMobile" />
                                <span asp-validation-for="EnableMobile"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="UseDarkTheme" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="UseDarkTheme" />
                                <span asp-validation-for="UseDarkTheme"></span>
                            </div>
                        </div>
                    </nop-card>

                    <nop-card asp-name="olarkchat-advanced" asp-icon="fas fa-code" asp-title="@T("Plugins.Widgets.OlarkChat.Advanced")"
                              asp-hide-block-attribute-name="@hideAdvancedBlockAttributeName" asp-hide="@hideAdvancedBlock" asp-advanced="true">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomScript" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="CustomScript" />
                                <span asp-validation-for="CustomScript"></span>
                            </div>
                        </div>
                    </nop-card>
                </nop-cards>

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>

            <div class="card card-default mt-4">
                <div class="card-header">
                    @T("Plugins.Widgets.OlarkChat.Instructions.Title")
                </div>
                <div class="card-body">
                    <ol>
                        <li>@Html.Raw(string.Format(T("Plugins.Widgets.OlarkChat.Instructions.Step1").Text, "<a href=\"https://www.olark.com\" target=\"_blank\">olark.com</a>"))</li>
                        <li>@T("Plugins.Widgets.OlarkChat.Instructions.Step2")</li>
                        <li>@T("Plugins.Widgets.OlarkChat.Instructions.Step3")</li>
                        <li>@T("Plugins.Widgets.OlarkChat.Instructions.Step4")</li>
                    </ol>
                    <div class="alert alert-info">
                        <strong>@T("Plugins.Widgets.OlarkChat.Instructions.Note")</strong>
                    </div>
                </div>
            </div>
        </div>
	</section>
</form>